
h1 {
  font-size: 15px;
}
.nav-link {
  color: black;
}
.logo {
  width: 389px
}
#carouselExampleControls {
  width: 100vw;
}
#footer {
  background-color: #333;
  height: 350px;
  width: 100vw;
}
.white {
  color: white;
}
#white {
  color: white;
}
#short {
  width: 400px;
}
.small {
  height: 45px;
  width: 45px;
}
